html {
    background: #e6e9e9;
}

body {
        background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'lato', sans-serif;
    line-height: 1.5;
    margin: 15%;
    max-width: 800px;
    padding: 30px 40px 50px 60px;
}

h4, h5, h6 {
    color: #222222;
}

h1 {
    font-size: 92px;
    font-weight: 600;
    line-height: 1;
    color: #222222;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic; 
    margin-top: 20px;
    line-height: 1;
    color: #93b7c9;
}


h3 {
    margin-top : 50px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #5d81e7;
}

h4 {
    font-size: 17px;
    font-weight: 800;
}

p {
    font-size: 17px;
}

a {
    color: #AC51FE;
}

b, strong {
    font-weight: 600;
}

img.photo_cv {
    width: 50%;
    border: 10px solid #000000;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

img.code-github {
    width: 11%;
    border: 10px solid #000000;
    border-radius: 4px;
    display: block;
    margin: 310 ;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

#exciting {
    background: linear-gradient(to bottom, #ffe8d4, #f69d3c);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}

#exciting:before {
    content: "ℹ️";
    margin-right: 5px;
}

@media screen and (max-width: 600px) 
{
    body 
    {
    max-width: 600px;
    }
    h1
    {font-size: 30px;}
    h2
    {font-size: 25px;}
    h2
    {font-size: 20px;}
    h3
    {font-size: 16px;}
    h4
    {font-size: 11px;}
    
    
}

@media screen and (min-width: 600px) and (max-width: 992px) 
{
    body
 {
    max-width: 992px;
 }
    h1
    {font-size: 35px;}
    h2
    {font-size: 30px;}
    h2
    {font-size: 25px;}
    h3
    {font-size: 21px;}
    h4
    {font-size: 16px;}
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
    body 
    {
    max-width: 1200;
    }
    h1
    {font-size: 40px;}
    h2
    {font-size: 35px;}
    h2
    {font-size: 30px;}
    h3
    {font-size: 26px;}
    h4
    {font-size: 21px;}
}

@media screen and (min-width: 1200px)
{
    body 
    {
    min-width: 1200;
    }
   h1
    {font-size: 45px;}
    h2
    {font-size: 40px;}
    h2
    {font-size: 35px;}
    h3
    {font-size: 31px;}
    h4
    {font-size: 25px;}
}
